[submodule "dwm"]
	path = dwm
	url = https://gitlab.com/aktersnurra/dwm.git
[submodule "dwmblocks"]
	path = dwmblocks
	url = https://gitlab.com/aktersnurra/dwmblocks.git
[submodule "dmenu"]
	path = dmenu
	url = https://gitlab.com/aktersnurra/dmenu.git
